*{
    margin:0px;
    padding:0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e4ba;   
}

.container{
    position: absolute;
    top:28vh;
    background-color: #ffffff;
    padding:2rem;
    border-radius: 1.5rem;
    min-height: 30vh;
    width:45vh;
}

form{
    margin: 1.6rem 0 1rem 0;
    line-height: 1.5rem;
}

form select,button,input{
    width:100%;
    border:none;
    outline:none;
    border-radius: 8px;
}

form input{
    border:2px solid lightgray;
    font-size:18px;
    padding-left:5px;
}

.select-container{
    display:flex;
    border:2px solid lightgray;
    border-radius: 6px;
    
}

.select-container img{
    margin-right: 4px;
    width: 3.2rem;
    
}

.msg{
    text-align: center;
    margin-bottom: 0.85rem;
}

.dropdown{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    
}

.dropdown i{
    margin-top:1.4rem;
}

.exchange{
    font-size:1rem;
    color:#ffffff;
    height:3rem;
    background-color: #af4d98;
    cursor:pointer;
}